
	.fondo { background:#FFFFFF; }
	
	.principal { font-family:calibri; font-size:20px; color:#0062C5; font-weight:bold; }
	
	.texto { font-family:calibri; font-size:18px; color:#0062C5; }
	
	.error { font-family:calibri; font-size:18px; color:#FF0000; }
	
	.boton { height:26px; width:130px; border:1px solid #0062C5; border-radius:4px 4px 4px 4px; background:#FFFFFF; font-family:calibri; font-size:14px; color:#0080FF; font-weight:bold; }

	.botonMenu { height:34px; width:100px; border:0px; border-radius:10px 10px 2px 2px; background:#0080FF; font-family:calibri; font-size:14px; color:#FFFFFF; font-weight:bold; }	
	
	.tablaLogin { width:420px; padding:8px; border:1px solid #0062C5; background:#FFFFFF; }
	
	.tablaBuscar { width:590px; padding:8px; border:0px solid #0062C5; background:#FFFFFF; }
	
	.tablaReservas { border-collapse:collapse; border:1px solid #0062C5; width:620px; background:#FFFFFF; }
	
	.filaResaltada { background:#E6F2FF; font-family:calibri; font-size:18px; color:#0062C5; }
	
	.filaNormal { background:#FFFFFF; font-family:calibri; font-size:18px; color:#0062C5; }	
	
	.tablaNuevo { width:590px; padding:8px; border:0px solid #0062C5; background:#FFFFFF; }
	
	.tablaPerfil { width:320px; padding:8px; border:0px solid #0062C5; background:#FFFFFF; }
	
	.tablaAsientos { border-collapse:collapse; width:226px; height:49px; border:1px solid #0062C5; }

	td,th { padding:7px; }

	.tablaAsientos td {  padding:0px;}	

	#divLogin { position:absolute; left:50px; top:50px; }
	
	#divLogo { position:relative; left:10px; top:10px; }
	
	#divCabecera { position:absolute; left:30px; top:10px; width:640px; height:150px; background:#FFFFFF; border:1px solid #0062C5; } 
	
	#divMenu { position:absolute; left:130px; top:70px; width:150px; }
	
	#iframeContenido { position:absolute; left:30px; top:180px; width:640px; height:480px; background:#FFFFFF; border:1px solid #0062C5;}

	#divAvion { position:relative; left:0px; width:200px; height:260px; }
	
	#divAlaSuperiorAvion { position:absolute; left:80px; top:10px; }
	
	#divCabezaAvion { position:absolute; left:10px; top:102px; }
	
	#divAsientosAvion { position:relative; left:80px; top:105px; }
	
	#divColaAvion { position:absolute; left:306px; top:54px; }
	
	#divAlaInferiorAvion  { position:absolute; left:80px; top:153px; }
	
	#divTablaReservas { position:relative; left:2px; background:#FFFFFF; }
	
	#divRuta { /*display:none;*/ position:absolute; left:400px; top:150px; }
	
	#divMensaje { height:20px; }
	

	